<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'utf-8'>
    <title>Some Website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>Body</p>
    <footer>
      <p>Copyright {{year}}</p>
    </footer>
  </body>
</html>
